<article class="container">

  <h1>{{title}}</h1>

  <h3>Who are we?</h3>
  <p>We are a group of amateur bird watchers who originally attended a WEA bird watching course. When the course came to an end we decided to continue with out Friday sessions. Some of us are experienced and some of us are novice bird watchers, but we all enjoy the outdoors, the company and the sight and sound of birds.</p>
  <br/>
  <h3>What do we do?</h3>
  <p>On Fridays we meet at a pre arranged site at 10am. Some of the places we visit are a short drive and some further afield. Visits usually last between two and three hours but if we've travelled a long way, for example to Leighton Moss or the Goyt Valley, we take a picnic and spend the full day. We try to car share as much as possible.</p> 
  <br/>
  <h3>Newsletter</h3>
  <p>Every week we send out a weekly round up of what we have seen and heard, to see a preview of the newsletter and sign up click <a href="/newsletter/register/">here!</a></p>


</article>

