<div class="container">
<p><a href="/newsletter/register/">Sign up to receive our newsletter!</a></p>

   <h1>Upcoming events</h1>

   <h3>Pennington Flash</h3>
   <h5>April 7th 2017</h5>
   <p>Postcode etc will go here</p>
   <a href="google.com">This will be a link</a>

   <h5>Astley Moss</h5>
   <h5>April 14th 2017</h5>
   <p>Postcode etc will go here</p>
   <a href="google.com">This will be a link</a>

   <h5>Martin Mere</h5>
   <h5>April 21st 2017</h5>
   <p>Postcode etc will go here</p>
   <a href="google.com">This will be a link</a>

   <h5>Fletcher Moss</h5>
   <h5>April 28th 2017</h5>
   <p>Postcode etc will go here</p>
   <a href="google.com">This will be a link</a>

   <h5>Moore Nature Reserve</h5>
   <h5>May 5th 2017</h5>
   <p>Postcode etc will go here</p>
   <a href="google.com">This will be a link</a>

   <h5>Leighton Moss</h5>
   <h5>May 12th 2017</h5>
   <p>Postcode etc will go here</p>
   <a href="google.com">This will be a link</a>

   <h2>Come and join us!</h2>

   <h4>Fridays</h4>
   <p align="left">We always welcome fellow twitchers into the fold, if you would like to find out more information please click the contact us link below and ask away. Alternatively click on our social media links.</p>
   <p><a href="/contact">Contact us</a></p>

   <h4>Tuesdays</h4>
   <p align="left">If you are interested but not available on Fridays then we also have a group who go out on Tuesdays. Again, for more information click on the contact us link or get in touch via social media. </p>
   <p><a href="/contact">Contact us</a></p>

</div>

