<div class="container">

	<h1>{{title}}</h1>

	<p>Welcome to the website of the wonderful Birding Group of Sale, we are a group of lovely twitchers, find out more about us by clicking on the about page.  
	</p>

	<p>Here's a tiny bird (Blue Tit) we've seen: </p>
	<img src="images/birdpics/bluetit.jpg" height="200px" width="200px">
	</p>

	<p>We meet every Friday and rotate through a number of different sites - check out the event page for where we've been and where we have yet to go!
	</p>

<p><a href="/newsletter/register/">Sign up to receive our newsletter!</a></p>

</div>

