<section class="container">
	<article>
		<h1>{{title}}</h1>
		<p>{{info}}</p>
	</article>

	<article class="row">
	
		<figure>
            <img src="images/birdpics/puffin.jpg" alt="A Puffin" width="250" height="250">
          </figure>

	</article>

	<br/>

	<article class="row">

		<input type="text" name="userGuess" id="userGuess" title="Enter your guess here">
		<input type="button" value="Guess!" onClick=guessBird() class=btn title="Click to submit your guess">
		<input type="button" value="Clear" onClick=clearBox() class="btn" title="Click to clear the guessing box">

	</article>

</section>
