<section class="container">
	<article>
		<h1>{{title}}</h1>
		<p>{{info}}</p>
	</article>
	<!--Image for guessing-->
	<article class="row">	
		<figure>
            <img src="images/birdpics/puffin.jpg" alt="A Puffin" width="200" height="200" class="media-container">
        </figure>
	</article>
	<!--End of image-->
	<br/>
	<!--Setting up the guessing box for the user-->
	<article class="row">
		<input type="text" name="userGuess" id="userGuess" title="Enter your guess here">
		<input type="button" value="Guess!" onClick="guessBird()" class="btn" title="Click to submit your guess">
		<input type="button" value="Clear" onClick="clearBox()" class="btn" title="Click to clear the guessing box">
	</article>
	<!--End of user input-->

	<!--Link to cheat page-->
	<article class="row">
		<p>If you are having trouble go to our <a href="/media">media</a> page for the answer!</p>
	</article>
	<!--End of link-->
</section>