html {
    background: url(../images/birdpics/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: roboto;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    opacity: 0.8;
    background-color: white;
    padding-bottom: 200px;
}

.icon-bar {
    /*When navbar collapses icon bar blue so it can be seen*/
    background-color: blue;
}

.navbar-custom {
    background-color: white;
    color: white;
    font-size: 20px;
    opacity: 1;
    border-radius: 20px;
    border: 10px black solid;
}

ul li {
    background-color: white;
    color: blue;
    font-weight: bold;
}
ul li:hover {
    color: white;
}

.jumbotron {
    padding-top: 100px;
    background-color: white;
}

.container {
    background-color: white;
    border: 2px black solid;
    border-radius: 5px;
    padding: 10px 10px 100px 10px;
    margin-bottom: 5px;
}

#accordion {
    background-color: white;
    color: black;
    opacity: 1;
}

p a {
    /*Making links in paragraphs blue to fit blue / white theme*/
    color: blue;
    font-weight: bold;
}

#form {
    width: 300px;
    color: black;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    text-align:left;
}

.socialmedia {
    display:inline-block;
    padding:5px;
}

.media-container {
    opacity: 1;
    background-color: white;
}