<style type="text/css">
body {
    background-color: #222222;
    text-align: center;
    font-family: roboto;
    color: white;
}


</style>

<div>

   <h1>{{title}}</h1>

   <h3 align="left">Micky Dolenz</h3>
   <img src="images/md.jpg" height="100px" width="100px" alt="Picture of Micky Dolenz" align="left"> 
   <p>This is a top notch lad called Micky. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   <br/>

   <h3 align="left">Peter Tork </h3>
   <img src="images/pt.jpg" height="100px" width="100px" alt="Picutre of Peter Tork"  align="right">
   <p>This is a top notch lad called Peter. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   <br/>

   <h3 align="left">Michael Nesmith</h3>
   <img src="images/mn.jpg" height="100px" width="100px" alt="Picture of Michael Nesmith" align="left">
   <p>This is a top notch lad called Michael. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   <br/>

   <h3 align="left">Davy Jones</h3>
   <img src="images/dj.jpg" height="100px" width="100px" alt="Picutre of Davy Jones"  align="right">
   <p>This is a top notch lad called Davy. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   <br/>

</div>

