<style type="text/css">
body {
    background-color: #222222;
    text-align: center;
    font-family: roboto;
    color: white;
}

</style>

<div>

   <h1>{{title}}</h1>
   

   <h2>Upcoming events</h2>

   <h5>London </h5>
   <p>blah blah blah</p>

   <h5>Manchester </h5>
   <p>blah blah blah</p>

   <h5>Leeds </h5>
   <p>blah blah blah</p>

   <h5>Edinburgh </h5>
   <p>blah blah blah</p>

   <h5>Dublin</h5>
   <p>blah blah blah</p>

   <h2>Hire us for your event</h2>

   <h4>Corporate</h4>
   <p align="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
   <p>Price: £4320</p>
   <p><a href="#/contact">Contact us</a></p>

   <h4>Wedding</h4>
   <p align="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
   <p>Price: £4386</p>
   <p><a href="#/contact">Contact us</a></p>

</div>

