<style type="text/css">
body {
    background-color: #222222;
    text-align: center;
    font-family: roboto;
    color: white;
}

</style>

<div>

	<h1>{{title}}</h1>
  	<p>
  		<audio controls="controls" align="left">
  			<source src="music/song.mp3" type="audio/mpeg; codecs=mp3">
  		</audio>
  		Purchase this song:
  			<a href="http://www.itunes.com"> <img src="images/itunes.jpeg" alt="itunes store" height="20px" width="20px" />iTunes </a>
	  		<a href="http://www.amazon.com"> <img src="images/amazon.jpeg" alt="amazon music store" height="20px" width="20px" />Amazon </a>

	</p>

  	<p>
  		<audio controls="controls" align="left">
  			<source src="music/song.mp3" type="audio/mpeg; codecs=mp3">
  		</audio>
  		Purchase this song:
  			<a href="http://www.itunes.com"> <img src="images/itunes.jpeg" alt="itunes store" height="20px" width="20px" />iTunes </a>
	  		<a href="http://www.amazon.com"> <img src="images/amazon.jpeg" alt="amazon music store" height="20px" width="20px" />Amazon </a>

	</p>
	  	



</div>

