<style type="text/css">
body {
    background-color: #222222;
    text-align: center;
    font-family: roboto;
    color: white;
}


#form {
    background-color: #222222;
    height: 600px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    text-align:left;
}

label {
font-family: Roboto;
font-size: 18px;
color: white;
height: 20px;
width: 200px;
margin-top: 10px;
margin-left: 10px;
text-align: left;
clear: both;
}





</style>



<div>
    <h3>Sign up to our newsletter</h3>
    
    <hr />

</div>



<div class="container" align="center">

    <div id="form">
        <form name="registrationForm" ng-submit="submitForm()" novalidate>
            <fieldset>
                <label>Email Address:</label>
                <input type="email" name="email" class="form-control" ng-model="user.username" required="" placeholder="please enter your email address">
                <p ng-show="registrationForm.name.$pristine" class="help-block">Your email address is required</p>
                
                <br />

                <button type="submit" class="btn btn-primary" ng-disabled="registrationForm.$invalid">Submit</button>
            </fieldset>
        </form>
    </div>
</div>

   

